@font-face {
    font-family: opensansR;
    src: url(/font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensansB;
    src: url(/font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: opensansL;
    src: url(/font/OpenSans-Light.ttf);
}

@font-face {
    font-family: opensansSB;
    src: url(/font/OpenSans-SemiBold.ttf);
}


body{
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.mainImg{
    margin: 0 auto;
    width: 700px;
    margin-top: 30px;
}
h1{
    font-family: opensansB;
    margin: 0 auto;
    width: 450px;
}
h2{
    font-family: opensansSB;
    margin: 0 auto;
    width: 380px;
    margin-top: 15px;
    
}

.text{
    font-family: opensansR;
    line-height: 200%;
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}

.up{
    width: 120px;
    background: #81B93D;
    box-shadow: 0px 0px 30px #81B93D;
    border-radius: 13px;
    border: none;
    color: white;
    font-family: opensansSB;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 25px;
}